.datlaimatkhau-child {
  position: absolute;
  top: -11px;
  left: 0;
  background-color: var(--color-snow);
  width: 1440px;
  height: 1035px;
}
.qun-mt-khu {
  position: absolute;
  top: 777px;
  left: 287px;
  color: var(--color-honeydew);
  display: inline-block;
  width: 176px;
  height: 31px;
}
.datlaimatkhau-item {
  position: absolute;
  top: 274px;
  left: 375px;
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew);
  border: 5px solid var(--color-darkgreen);
  box-sizing: border-box;
  width: 698px;
  height: 416px;
}
.t-li-mt {
  position: absolute;
  top: 303px;
  left: 483px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  width: 590px;
  height: 88px;
}
.text-input-component-child24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-snow);
  border: 2px solid var(--color-darkgreen);
  box-sizing: border-box;
  width: 337px;
  height: 49px;
}
.blingking26 {
  position: absolute;
  top: 22px;
  left: 9px;
  border-right: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
}
.text-input26 {
  position: absolute;
  top: 24px;
  left: 16px;
  display: inline-block;
  width: 255px;
}
.cover-text26 {
  position: absolute;
  top: 23px;
  left: 13px;
  background-color: var(--color-snow);
  width: 291px;
  height: 20px;
}
.text-field26 {
  position: absolute;
  top: 5px;
  left: 9px;
  display: inline-block;
  color: var(--color-darkgreen);
  width: 199px;
}
.text-input-component26,
.text-input-component27 {
  position: absolute;
  top: 433px;
  left: 555px;
  width: 337px;
  height: 49px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.text-input-component27 {
  top: 507px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 27.81px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgreen);
  border: 1px dashed var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 241.38px;
  height: 48.37px;
}
.ng-nhp {
  position: absolute;
  top: 12px;
  left: 0;
  display: inline-block;
  width: 385px;
  height: 24px;
}
.datlaimatkhau-inner,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 385px;
  height: 48.37px;
}
.datlaimatkhau-inner {
  top: 581px;
  left: 555px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
  color: var(--color-snow);
}
.ng-k {
  text-decoration: underline;
}
.bn-cha-c-container {
  position: absolute;
  top: 654px;
  left: 551px;
  display: inline-block;
  width: 389px;
  height: 31px;
  cursor: pointer;
}
.datlaimatkhau {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkgreen);
  font-family: var(--font-inter);
}
