.dangnhap-child {
  position: absolute;
  top: 215px;
  left: 415px;
  border-radius: var(--br-3xs);
  width: 628px;
  height: 400px;
}
.dangnhap-item {
  position: absolute;
  top: 77px;
  left: 177px;
  width: 1060px;
  height: 666px;
}
.mn-hnh-ng1 {
  position: absolute;
  top: -100px;
  left: 536px;
  font-size: var(--font-size-sm);
}
.dangnhap-inner {
  position: absolute;
  top: 182.5px;
  left: 1650.5px;
  border-radius: var(--br-3xs);
  width: 913px;
  height: 665px;
}
.ng-nhp1 {
  position: absolute;
  top: 239px;
  left: 554px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  color: var(--color-darkgreen);
  width: 708px;
  height: 57px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 12px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgreen);
  border: 1px dashed var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 259.48px;
  height: 44.63px;
}
.ng-nhp2 {
  position: absolute;
  top: 11px;
  left: 0;
  display: inline-block;
  width: 467.23px;
  height: 22.58px;
  cursor: pointer;
}
.group-div,
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 467.23px;
  height: 44.63px;
}
.group-div {
  top: 523px;
  left: 592px;
  font-size: var(--font-size-5xl);
  color: var(--color-snow);
}
.hin-mt-khu,
.qun-mt-khu1 {
  position: absolute;
  color: var(--color-darkgreen);
  display: inline-block;
  width: 167px;
  height: 21px;
}
.qun-mt-khu1 {
  top: 502px;
  left: 691px;
  text-decoration: underline;
  cursor: pointer;
}
.hin-mt-khu {
  top: 463px;
  left: 773px;
}
.hin-mt-khu,
.ng-k1 {
  text-decoration: underline;
}
.bn-cha-c-container1 {
  position: absolute;
  top: 586px;
  left: 626px;
  color: var(--color-darkgreen);
  display: inline-block;
  width: 287px;
  height: 20px;
  cursor: pointer;
}
.text-input-component-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-snow);
  border: 2px solid var(--color-darkgreen);
  box-sizing: border-box;
  width: 337px;
  height: 49px;
}
.blingking28 {
  position: absolute;
  top: 22px;
  left: 9px;
  border-right: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
}
.text-input28 {
  position: absolute;
  top: 24px;
  left: 16px;
  display: inline-block;
  width: 255px;
}
.cover-text28 {
  position: absolute;
  top: 23px;
  left: 13px;
  background-color: var(--color-snow);
  width: 291px;
  height: 20px;
}
.text-field28 {
  position: absolute;
  top: 5px;
  left: 9px;
  display: inline-block;
  color: var(--color-darkgreen);
  width: 199px;
}
.text-input-component28,
.text-input-component29 {
  position: absolute;
  top: 336px;
  left: 555px;
  width: 337px;
  height: 49px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.text-input-component29 {
  top: 396px;
}
.dangnhap {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
