.thuchienchamcong-child {
  position: absolute;
  top: -16px;
  left: -36px;
  background-color: var(--color-honeydew);
  width: 1479px;
  height: 1040px;
}
.thc-hin-chm1 {
  position: absolute;
  top: 144px;
  left: 494px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  color: var(--color-forestgreen);
  width: 724px;
  height: 85px;
}
.thuchienchamcong-item {
  position: absolute;
  top: 300px;
  left: 392px;
  width: 624px;
  height: 79px;
}
.thuchienchamcong-inner {
  position: absolute;
  top: 899px;
  left: 1184px;
  background-color: var(--color-firebrick);
  width: 187px;
  height: 55px;
}
.thuchienchamcong-child1 {
  position: absolute;
  top: 899px;
  left: 771px;
  width: 89px;
  height: 55px;
}
.b11,
.b12,
.thot4,
.thuchienchamcong-child2 {
  position: absolute;
  top: 900px;
  left: 887px;
  width: 89px;
  height: 55px;
}
.b11,
.b12,
.thot4 {
  top: 903px;
  left: 1218px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-snow);
  width: 184px;
  height: 66px;
  cursor: pointer;
}
.b11,
.b12 {
  top: 897px;
  left: 787px;
  font-size: var(--font-size-21xl);
}
.b12 {
  top: 899px;
  left: 920px;
  width: 194px;
}
.thuchienchamcong-child3,
.thuchienchamcong-child4 {
  position: absolute;
  top: 0;
  left: -39px;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 366px;
  height: 1024px;
}
.thuchienchamcong-child4 {
  top: -16px;
  background-color: var(--color-darkseagreen);
  border: 10px solid var(--color-darkolivegreen);
  height: 240px;
}
.qun-l4 {
  margin: 0;
}
.qun-l-nhn-container4 {
  position: absolute;
  top: 54px;
  left: -222px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  color: var(--color-forestgreen);
  text-align: center;
  width: 724px;
  height: 85px;
}
.thuchienchamcong-child5,
.thuchienchamcong-child6 {
  position: absolute;
  top: 224px;
  left: 0;
  width: 366px;
  height: 88px;
}
.thuchienchamcong-child6 {
  top: 306px;
  height: 96px;
}
.chm-cng4,
.thng-tin-nhn4 {
  position: absolute;
  top: 256px;
  left: -20px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 359px;
  height: 44px;
  cursor: pointer;
}
.chm-cng4 {
  top: 340px;
  left: 39px;
  width: 187px;
}
.thuchienchamcong-child7 {
  position: absolute;
  top: 713px;
  left: 0;
  width: 287px;
  height: 4px;
}
.thuchienchamcong-child8,
.thuchienchamcong-child9 {
  position: absolute;
  top: 267.1px;
  left: 293.54px;
  width: 16.74px;
  height: 18.37px;
}
.thuchienchamcong-child9 {
  top: 355.1px;
}
.thuchienchamcong-child10 {
  position: absolute;
  top: 324px;
  left: 348px;
  width: 1078px;
  height: 166px;
}
.thuchienchamcong-child11 {
  position: absolute;
  top: 380.56px;
  left: 347.98px;
  width: 1077.63px;
  height: 8.44px;
}
.thuchienchamcong-child12 {
  position: absolute;
  top: 329.5px;
  left: 478.5px;
  border-right: 3px solid var(--color-darkgreen);
  box-sizing: border-box;
  width: 3px;
  height: 162px;
}
.thuchienchamcong-child13,
.thuchienchamcong-child14 {
  position: absolute;
  top: 329px;
  left: 673.5px;
  width: 3px;
  height: 161px;
}
.thuchienchamcong-child14 {
  top: 328px;
  left: 805.5px;
  height: 162px;
}
.thuchienchamcong-child15,
.thuchienchamcong-child16 {
  position: absolute;
  top: 324px;
  left: 949.5px;
  width: 3px;
  height: 166px;
}
.thuchienchamcong-child16 {
  left: 1105.5px;
}
.m-nv4,
.thuchienchamcong-child17 {
  position: absolute;
  top: 329px;
  left: 1310.5px;
  width: 3px;
  height: 161px;
}
.m-nv4 {
  top: 351px;
  left: 376px;
  display: inline-block;
  width: 137px;
  height: 38px;
}
.bt-u3,
.ghi-ch4,
.h-v-tn4,
.kt-thc3,
.ngy3,
.tng-thi-gian3 {
  position: absolute;
  top: 347px;
  left: 523px;
  display: inline-block;
  width: 142px;
  height: 38px;
}
.bt-u3,
.ghi-ch4,
.kt-thc3,
.ngy3,
.tng-thi-gian3 {
  top: 343px;
  left: 718px;
}
.bt-u3,
.ghi-ch4,
.kt-thc3,
.tng-thi-gian3 {
  top: 346px;
  left: 841px;
}
.ghi-ch4,
.kt-thc3,
.tng-thi-gian3 {
  left: 979px;
}
.ghi-ch4,
.tng-thi-gian3 {
  left: 1117px;
  width: 223px;
}
.ghi-ch4 {
  top: 348px;
  left: 1320px;
}
.thuchienchamcong-child18 {
  position: absolute;
  top: 570px;
  left: 771px;
  background-color: var(--color-darkgreen);
  width: 228px;
  height: 55px;
}
.hon-tt1 {
  position: absolute;
  top: 576px;
  left: 802px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-snow);
  width: 235px;
  height: 66px;
  cursor: pointer;
}
.text-input-component-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 337px;
  height: 49px;
}
.blingking7 {
  position: absolute;
  top: 22px;
  left: 9px;
  border-right: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
}
.text-input7 {
  position: absolute;
  top: 24px;
  left: 16px;
  display: inline-block;
  width: 255px;
  -webkit-text-stroke: 1px #000;
}
.cover-text7 {
  position: absolute;
  top: 23px;
  left: 13px;
  background-color: var(--color-snow);
  width: 291px;
  height: 20px;
}
.text-field7 {
  position: absolute;
  top: 5px;
  left: 9px;
  display: inline-block;
  color: var(--color-gray-100);
  width: 199px;
}
.text-input-component7 {
  position: absolute;
  top: 411px;
  left: 376px;
  width: 84px;
  height: 49px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.cover-text8,
.text-input-component-child6 {
  position: absolute;
  background-color: var(--color-whitesmoke-200);
}
.text-input-component-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 337px;
  height: 49px;
}
.cover-text8 {
  top: 23px;
  left: 13px;
  width: 291px;
  height: 20px;
}
.text-input-component8 {
  position: absolute;
  top: 402px;
  left: 486px;
  width: 179px;
  height: 88px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.text-input-component10,
.text-input-component11,
.text-input-component13,
.text-input-component9 {
  position: absolute;
  top: 397px;
  left: 675px;
  width: 127px;
  height: 80px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.text-input-component10,
.text-input-component11,
.text-input-component13 {
  top: 400px;
  left: 815px;
}
.text-input-component11,
.text-input-component13 {
  top: 391px;
  left: 971px;
}
.text-input-component13 {
  top: 395px;
  left: 1193px;
  width: 104px;
  height: 65px;
}
.thuchienchamcong {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgreen);
  font-family: var(--font-inter);
}
